body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background: white;
    padding: 19px;
    border-radius: 9px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 299px;
}

textarea {
    width: 99%;
    height: 99px;
    margin-bottom: 9px;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

p {
    font-size: 17px;
    margin: 4px 0;
}