body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-color: #282c38;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.clock {
    font-size: 61px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

span {
    padding: 11px;
    transition: transform 0.2s ease-in-out;
}

span.change {
    transform: scale(1.2);
    color: #ffeb3b;
}